@font-face {
  font-family: "Circular Regular";
  src: url("./assets/CircularStd-Regular.otf");
}

@font-face {
  font-family: "Circular Light";
  src: url("./assets/CircularStd-Light.otf");
}

@font-face {
  font-family: "Circular Bold";
  src: url("./assets/CircularStd-Bold.otf");
}

@font-face {
  font-family: "Circular Black";
  src: url("./assets/CircularStd-Black.otf");
}

* {
  margin: 0;
  padding: 0;
  font-family: Circular Regular, sans-serif;
  color: white;
}

html,
body {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #1e1e1e, #121212);
  overflow: hidden;
}